## 1. Import the libraries:

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

## 2. Load the dataset:

In [5]:
data = pd.read_csv("data.csv")
data.head(3)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0

## 3. EDA:

#### 3.1 Data shape:

In [12]:
print(f"In total, there are: {data.shape[0]} rows and {data.shape[1]} columns.")

In total, there are: 10000 rows and 10 columns.

#### 3.2 Data Types:

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  10000 non-null  float64
 1   Age                       10000 non-null  float64
 2   Area Income               10000 non-null  float64
 3   Daily Internet Usage      10000 non-null  float64
 4   Ad Topic Line             10000 non-null  object
 5   City                      10000 non-null  object
 6   Gender                    10000 non-null  object
 7   Country                   10000 non-null  object
 8   Timestamp                 10000 non-null  object
 9   Clicked on Ad             10000 non-null  int64
dtypes: float64(4), int64(1), object(5)
memory usage: 781.4+ KB

##### Change datatype of TimeStamp:

In [26]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'])

#### 3.3 Class Distribution:

In [19]:
data.groupby('Clicked on Ad').size()

Clicked on Ad
0    5083
1    4917
dtype: int64

#### 3.4 Dropping Unnecessary columns:

In [28]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
categorical_cols

['Ad Topic Line', 'City', 'Gender', 'Country']

In [30]:
for col in categorical_cols:
    label_encoder = LabelEncoder()
    data[col + '_encoded'] = label_encoder.fit_transform(data[col])

In [32]:
data.drop(categorical_cols, axis=1, inplace=True)

In [34]:
data.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Timestamp', 'Clicked on Ad',
       'Ad Topic Line_encoded', 'City_encoded', 'Gender_encoded',
       'Country_encoded'],
      dtype='object')

In [35]:
ordered_cols = ['Daily Time Spent on Site', 'Age', 'Area Income',
                'Daily Internet Usage', 'Timestamp', 'Ad Topic Line_encoded', 'City_encoded', 
                'Gender_encoded', 'Country_encoded', 'Clicked on Ad']

data = data.reindex(columns=ordered_cols)
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Timestamp,Ad Topic Line_encoded,City_encoded,Gender_encoded,Country_encoded,Clicked on Ad
0,62.26,32.0,69481.85,172.83,2016-06-09 21:43:05,96,234,1,174,0
1,41.73,31.0,61840.26,207.17,2016-01-16 17:56:05,301,460,1,166,0
2,44.40,30.0,57877.15,172.83,2016-06-29 10:50:45,484,379,0,71,0
3,59.88,28.0,56180.93,207.17,2016-06-21 14:32:32,24,269,0,205,0
4,49.21,30.0,54324.73,201.58,2016-07-21 10:54:35,484,495,0,149,1

In [39]:
correlation = data.corr()['Clicked on Ad'].drop('Clicked on Ad')
correlation

Daily Time Spent on Site    0.091034
Age                         0.460383
Area Income                -0.067631
Daily Internet Usage       -0.129412
Ad Topic Line_encoded       0.116388
City_encoded                0.166721
Gender_encoded             -0.049596
Country_encoded            -0.018712
Name: Clicked on Ad, dtype: float64